## Ignorer les fichiers temporaires de Visual Studio, les résultats de compilation, et
## les fichiers générés par les extensions populaires de Visual Studio.
##
## Obtenez la dernière version sur https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Fichiers spécifiques à l'utilisateur
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env

# Fichiers spécifiques à l'utilisateur (MonoDevelop/Xamarin Studio)
*.userprefs

# Fichiers auto-générés par Mono
mono_crash.*

# Résultats de compilation
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

[Dd]ebug/x64/
[Dd]ebugPublic/x64/
[Rr]elease/x64/
[Rr]eleases/x64/
bin/x64/
obj/x64/

[Dd]ebug/x86/
[Dd]ebugPublic/x86/
[Rr]elease/x86/
[Rr]eleases/x86/
bin/x86/
obj/x86/

[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]64[Ee][Cc]/
bld/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Résultats de compilation dans les répertoires 'Bin'
**/[Bb]in/*
# Décommenter si vous avez des tâches qui dépendent des fichiers *.refresh pour déplacer les binaires
# (https://github.com/github/gitignore/pull/3736)
#!**/[Bb]in/*.refresh

# Répertoire de cache/options de Visual Studio 2015/2017
.vs/
# Décommenter si vous avez des tâches qui créent les fichiers statiques du projet dans wwwroot
#wwwroot/

# Fichiers auto-générés par Visual Studio 2017
Generated\ Files/

# Résultats de tests MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Fichiers de résultats d'Approval Tests
*.received.*

# Résultats de compilation d'un projet ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Résultats de benchmark
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Scaffolding ASP.NET
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Fichiers compilés par Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.idb
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
# mais pas Directory.Build.rsp, car il configure les paramètres par défaut de compilation au niveau du répertoire
!Directory.Build.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Fichiers de test Chutzpah
_Chutzpah*

# Fichiers de cache Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Profileur Visual Studio
*.psess
*.vsp
*.vspx
*.sap

# Fichiers de trace Visual Studio
*.e2e

# Espace de travail local TFS 2012
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper est un add-in de codage .NET
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity est un add-in de compilation
_TeamCity*

# DotCover est un outil de couverture de code
*.dotCover

# AxoCover est un outil de couverture de code
.axoCover/*
!.axoCover/settings.json

# Coverlet est un outil de couverture de code gratuit et multiplateforme
coverage*.json
coverage*.xml
coverage*.info

# Résultats de couverture de code Visual Studio
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Dossier de sortie d'Installshield
[Ee]xpress/

# DocProject est un add-in générateur de documentation
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Répertoire Click-Once
publish/

# Sortie de publication Web
*.[Pp]ublish.xml
*.azurePubxml
# Note : Commentez la ligne suivante si vous souhaitez archiver vos paramètres de déploiement web,
# mais les chaînes de connexion à la base de données (avec des mots de passe potentiels) ne seront pas chiffrées
*.pubxml
*.publishproj

# Paramètres de publication Microsoft Azure Web App. Commentez la ligne suivante si vous souhaitez
# archiver vos paramètres de publication Azure Web App, mais les informations sensibles contenues
# dans ces scripts ne seront pas chiffrées
PublishScripts/

# Paquets NuGet
*.nupkg
# Paquets de symboles NuGet
*.snupkg
# Le dossier packages peut être ignoré grâce à la restauration de paquets
**/[Pp]ackages/*
# sauf build/, qui est utilisé comme cible MSBuild.
!**/[Pp]ackages/build/
# Décommenter si nécessaire, cependant il sera généralement régénéré en cas de besoin
#!**/[Pp]ackages/repositories.config
# Les fichiers project.json de NuGet v3 produisent plus de fichiers ignorables
*.nuget.props
*.nuget.targets

# Sortie de compilation Microsoft Azure
csx/
*.build.csdef

# Émulateur Microsoft Azure
ecf/
rcf/

# Répertoires et fichiers de paquets d'applications Windows Store
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Fichiers de cache Visual Studio
# les fichiers se terminant par .cache peuvent être ignorés
*.[Cc]ache
# mais garder une trace des répertoires se terminant par .cache
!?*.[Cc]ache/

# Autres
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# L'inclusion de fichiers de nom fort peut présenter un risque de sécurité
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Puisqu'il existe plusieurs flux de travail, décommentez la ligne suivante pour ignorer bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# Projets RIA/Silverlight
Generated_Code/

# Fichiers de sauvegarde et de rapport lors de la conversion d'un ancien fichier de projet
# vers une version plus récente de Visual Studio. Les fichiers de sauvegarde ne sont pas nécessaires,
# car nous avons git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# Fichiers SQL Server
*.mdf
*.ldf
*.ndf

# Projets de Business Intelligence
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# Fichier de configuration du plugin GhostDoc
*.GhostDoc.xml

# Node.js Tools pour Visual Studio
.ntvs_analysis.dat
node_modules/

# Journal de compilation Visual Studio 6
*.plg

# Fichier d'options de l'espace de travail Visual Studio 6
*.opt

# Fichier d'espace de travail auto-généré par Visual Studio 6 (contient les fichiers ouverts, etc.)
*.vbw

# Fichier d'espace de travail et de projet Visual Studio 6 (fichiers de projet de travail contenant les fichiers à inclure dans le projet)
*.dsw
*.dsp

# Fichiers techniques Visual Studio 6
*.ncb
*.aps

# Sortie de compilation Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Gestionnaire de dépendances Paket
**/.paket/paket.exe
paket-files/

# FAKE - F# Make
**/.fake/

# Paramètres personnels CodeRush
**/.cr/personal

# Python Tools pour Visual Studio (PTVS)
**/__pycache__/
*.pyc

# Cake - Décommentez si vous l'utilisez
#tools/**
#!tools/packages.config

# Tabs Studio
*.tss

# Fichier de configuration JustMock de Telerik
*.jmconfig

# Sortie de compilation BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Résultats d'analyse de l'UI OpenCover
OpenCover/

# Sortie d'exécution locale d'Azure Stream Analytics
ASALocalRun/

# MSBuild Binary et Structured Log
*.binlog
MSBuild_Logs/

# Dossier d'artefacts temporaires et de compilation AWS SAM
.aws-sam

# Fichier de configuration du débogueur GPU NVidia Nsight
*.nvuser

# Dossier de travail de MFractors (outil de productivité Xamarin)
**/.mfractor/

# Historique local pour Visual Studio
**/.localhistory/

# Fichiers de Visual Studio History (VSHistory)
.vshistory/

# Base de données temporaire de healthcheck BeatPulse
healthchecksdb

# Dossier de sauvegarde pour l'outil de conversion de référence de paquet dans Visual Studio 2017
MigrationBackup/

# Dossier de travail d'Ionide (outils F# multiplateformes pour VS Code)
**/.ionide/

# Fody - schéma XML auto-généré
FodyWeavers.xsd

# Fichiers VS Code pour ceux qui travaillent sur plusieurs outils
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Historique local pour Visual Studio Code
.history/

# Extensions Visual Studio Code compilées
*.vsix

# Fichiers Windows Installer provenant des sorties de compilation
*.cab
*.msi
*.msix
*.msm
*.msp

# Fichiers que Simon veut Ignorer
*.mp3
/Toto
/toto